.ExpenseData {
    margin: 2%;
    text-align: center;
    width: 180px;
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color:coral;
  }
  
  @media screen and (max-width: 80px) {
    .ExpenseData {
      width: 56px;
    }
  }
  
  .App_title {
    background-color:coral;
    letter-spacing: 2px;
    font-weight: bold;
    color:white;
    box-shadow: 0px 0px 4px black;
    padding: 1px;
    margin: 1px;
    border-radius: 3px;
    justify-items: center;
    font-size: 30px;

  }
  .box {
    padding: 1%;
    margin: 4%;
    border-radius: 2px;
    box-shadow: 0px 0px 2px grey;
    display:flexbox;
    flex-direction: column;
    background-color:antiquewhite;
    justify-content: center;
  }
  
  .TotalBalance .box-amount {
    padding: 1px;

  }
  
  .box2 {
    width: calc(250px - 20px);
  }
  .TotalIncomeandBalance {
display:flex;
    flex-direction:row;
  }
  
  .TotalExpenses,
  .AddTransaction,
  .TransactionHistory {
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    background-color:cornsilk;
    box-shadow: 0px 0px 4px black;
    display:inline-block;
    font-size: 20px;
    font-family:'ariel';

  }
  
  .AddTransaction,
  .TransactionHistory {
    margin-top: 2px;

  }
  
  .add-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'ariel';

  }
  
  .add-inputs div {
    padding: 5px;
    font-family:'ariel';

  }
  
  .add-inputs div input {
    border: none;
    padding: 4px;
    width: 56%;
    border-radius: 2px;
    outline: none;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px lightgray;
    font-family:'ariel';

  }
  
  .add-inputs div input:focus {
    box-shadow: 0px 0px 3px rgb(73, 73, 73);
    font-family:'ariel';
  }
  
  .transaction-title,
  .h-title {
    padding: 2px;
    font-size: medium;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  .TransactionHistory {
    display: flex;
flex-direction:column;
    overflow: hidden;
  }
  
  .TransactionHistoryList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
  }
  
  .TransactionHistoryListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 2px 5px 2px;
    box-shadow: 0px 0px 2px grey;
    border-radius: 2px;
  }
  
  .box-title {
    background-color: lightgray;
    margin: 1px;
    padding: 1px;
    color: gray;
    text-transform: uppercase;
    text-align: center;
    font-size: smaller;
    letter-spacing: 2px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    justify-content: flex-end;
  }
  
  .box-amount {
    font-size: xx-large;
    font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    overflow-x: scroll;
    justify-content: flex-end;

  }
  
  .box-amount::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .box-button {
    font-size: smaller;
    margin: 2px;
    color: white;
    border-radius: 3px;
    background-color: rgb(97, 97, 255);
    cursor: pointer;
    padding: 5px;
  }
  .box-button:hover,
  .add-trans-btn:hover {
    letter-spacing: 1px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .add-trans-btn {
    width: 20%;
    font-size: smaller;
    margin: 2px;
    color: white;
    border-radius: 3px;
    background-color: rgb(117, 117, 117);
    background-color: rgb(97, 97, 255);
    cursor: pointer;
    padding: 5px;
  }
  
  .title-time .one-transaction-title {
    font-weight: 500;
    text-align: left;
    font-size: small;
    letter-spacing: 1px;
  }
  
  .title-time .transaction-time {
    text-align: left;
    font-size: small;
    font-style: italic;
    color: gray;
  }
  .THAmount {
    font-weight: bold;
    padding-right: 5px;
    color: black;
  }
  .minus {
    color: orangered;
  }
  .plus {
    color: #0044ff;
  }
  
  .del-btn {
    width: 18px;
    height: 18px;
    padding: 4px;
    margin-left: 10px;
    background-color: rgb(255, 0, 0);
    background-image: url(https://i.imgur.com/vQgyGIp.png);
    background-position: center;
    background-size: 17px 17px;
    border-radius: 50px;
    background-repeat: no-repeat;
  }
  
  .del-btn:hover {
    box-shadow: 0px 0px 4px black;
  }
  
  .THAmount1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .no-transactions {
    letter-spacing: 2px;
    font-size: small;
    color: gray;
  }
  
  .cancel-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 97, 255);
    border: 1px solid rgb(97, 97, 255);
  }
  